/* =================================================================== */
/*
/*  KREO v1.0 Main Stylesheet
/*  url: styleshout.com
/*  10-12-2015
/*
/*	 TOC:
/*  01. =webfonts and iconfonts
/*  02. =document setup
/*  03. =preloader
/*  04. =forms
/*  05. =theme common styles
/*  06. =header styles
/*  07. =hero section
/*  08. =portfolio styles
/*  09. =services
/*  10. =about
/*  11. =testimonials
/*  12. =contact
/*  13. =footer
/*
/* =================================================================== */

/** 
/* 01. =webfonts and iconfonts
/* =================================================================== */

@import url("fonts.css");
@import url("font-awesome/css/font-awesome.min.css");


/** 
/* 02. =document setup
/* =================================================================== */

/* Body 
---------------------------------------------------------------------- */
html,
body {
	height: 100%;
}

body {
	background: #0F1215;
	font: 16px/30px "merriweather-regular", serif;
	font-weight: normal;
	color: #575859;
}

/* links 
---------------------------------------------------------------------- */
a,
a:visited {
	outline: none;
	color: white;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #fdc501;
}

/* Typography
--------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "raleway-heavy", sans-serif;
	color: #FFFFFF;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin: 18px 0 15px;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-weight: inherit;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin-top: 0;
	letter-spacing: -1px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

h3 {
	font-size: 20px;
	line-height: 30px;
}

h4 {
	font-size: 17px;
	line-height: 30px;
}

h5 {
	font-size: 14px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h6 {
	font-size: 13px;
	line-height: 30px;
	margin-top: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

p {
	margin: 15px 0 15px 0;
}

p img {
	margin: 0;
}

p.lead {
	font: 20px/36px "merriweather-light", serif;
	color: #707273;
}

em {
	font: 16px/30px "merriweather-italic", serif;
	font-style: normal;
}

strong,
b {
	font: 16px/30px "merriweather-bold", serif;
	font-weight: normal;
}

small {
	font-size: 11px;
	line-height: inherit;
}

blockquote {
	margin: 18px 0px;
	padding-left: 40px;
	position: relative;
}

blockquote:before {
	content: "\201C";
	opacity: 0.45;
	font-size: 80px;
	line-height: 0px;
	margin: 0;
	font-family: arial, sans-serif;
	position: absolute;
	top: 30px;
	left: 0;
}

blockquote p {
	font-family: georgia, serif;
	font-style: italic;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
}

blockquote cite {
	display: block;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
}

blockquote cite:before {
	content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
	color: #707273;
	border: none;
}

abbr {
	font-family: "merriweather-bold", serif;
	font-variant: small-caps;
	text-transform: lowercase;
	letter-spacing: .5px;
	color: #707273;
}

pre,
code {
	font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

code {
	padding: 3px;
	background: #ECF0F1;
	color: #707273;
	border-radius: 3px;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background: #FFF49B;
	color: #000;
}

hr {
	border: solid #707273;
	border-width: 1px 0 0;
	clear: both;
	margin: 23px 0 12px;
	height: 0;
}

/* Lists  
--------------------------------------------------------------------- */
ul,
ol {
	margin-top: 15px;
	margin-bottom: 15px;
}

ul {
	list-style: disc;
	margin-left: 17px;
}

dl {
	margin: 0 0 15px 0;
}

dt {
	margin: 0;
	color: #fdc501;
}

dd {
	margin: 0 0 0 20px;
}

/* Floated image  
--------------------------------------------------------------------- */
img.pull-right {
	margin: 12px 0px 0px 18px;
}

img.pull-left {
	margin: 12px 18px 0px 0px;
}

/* Style Placeholder Text  
--------------------------------------------------------------------- */
::-webkit-input-placeholder {
	color: #12151B;
}

:-moz-placeholder {

	/* Firefox 18- */
	color: #12151B;
}

::-moz-placeholder {

	/* Firefox 19+ */
	color: #12151B;
}

:-ms-input-placeholder {
	color: #12151B;
}

.placeholder {
	color: #12151B !important;
}

/* block grids default paddings 
--------------------------------------------------------------------- */
.bgrid {
	padding: 0 20px;
}

@media only screen and (max-width:1024px) {
	.bgrid {
		padding: 0 18px;
	}

}

@media only screen and (max-width:768px) {
	.bgrid {
		padding: 0 15px;
	}

}

@media only screen and (max-width:600px) {
	.bgrid {
		padding: 0 10px;
	}

}

@media only screen and (max-width:400px) {
	.bgrid {
		padding: 0;
	}

}


/* 
/* 03. =Preloader
/* =================================================================== */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #0F1215;
	z-index: 9999999;
	height: 100%;
	width: 100%;
}

.no-js #preloader,
.oldie #preloader {
	display: none;
}

#loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-left: -25px;
	margin-top: -25px;
	background-color: #fdc501;
	-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
	animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px);
	}

	50% {
		-webkit-transform: perspective(120px) rotateY(180deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
	}

}

@keyframes sk-rotateplane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}

	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}

	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}

}


/* 
/* 04. =forms
/* =================================================================== */

form {
	margin-bottom: 30px;
}

fieldset {
	margin: 0 0 30px 0;
	padding: 0;
	border: none;
}

input,
button {
	-webkit-font-smoothing: antialiased;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	display: block;
	padding: 18px 20px;
	margin: 0 0 12px 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #a3a4a6;
	font-family: "raleway-bold", sans-serif;
	font-size: 15px;
	line-height: 24px;
	border-radius: 3px;
	max-width: 100%;
	background: rgba(255, 255, 255, 0.1);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

textarea {
	min-height: 252px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
	color: #000000;
	background: #FFFFFF;
}

.button,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	display: inline-block;
	font: 16px/30px "raleway-heavy", sans-serif;
	padding: 9px 16px;
	margin: 0 3px 6px 0;
	background: #fdc501;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	height: auto;
	text-align: center;
	border: none;
	-webkit-appearance: none;
	-webkit-font-smoothing: inherit;
	border-radius: 3px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #FFFFFF;
	background: #e64e04;
}

label,
legend {
	font: 15px/30px "raleway-bold", sans-serif;
	margin: 12px 0;
	color: #252525;
	display: block;
}

label span,
legend span {
	color: #575859;
	font: 16px/30px "raleway-bold", sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
	font-size: 15px;
	color: #575859;
}

input[type="checkbox"] {
	display: inline;
}


/** 
/* 05. =theme common styles
/* =================================================================== */

/* hr */
hr {
	border: solid #FF0004
	border-width: 3px 0 0;
	width: 100px;
	margin: 11px 0 30px;
	height: 0
	clear: both;
	text-align: left;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* for css animations */
.show {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

/* sections */
.section-head h1 {
	font: 15px/30px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	color: #FFFFFF;
	margin-bottom: 30px;
	margin-top: 18px;
}

.section-head h1 span {
	color: #fdc501;
	position: relative;
	left: 3px;
}

.section-head p {
	font: 20px/36px "merriweather-light", serif;
	width: 95%;
}



@media only screen and (max-width:768px) {
	.section-head {
		text-align: center;
	}

	.section-head p {
		font: 18px/36px "merriweather-light", serif;
		width: auto;
	}

	.section-head h1 + hr {
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width:600px) {
	.section-head p {
		font: 17px/33px "merriweather-light", serif;
		width: auto;
	}

}

@media only screen and (max-width:400px) {
	.section-head [class*="column"] {
		padding: 0;
	}

}


/** 
/* 06. =header styles
/* =================================================================== */

header {
	height: 66px;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 600;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;  

	
}
header.opaque {
	background-color: #849EE5;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* header logo */
header .logo {
	float: left;
	width: auto;
	margin-left: 15px;
	margin-right: 30px;
	padding-top: 10px;
	z-index: 600;
	width: 200px;
	
	/* add position relative since z-index only applies to  
	elements that have been given an explicit position */
	position: relative;
}

header .logo a {
	display: block;
	margin: 0;
	padding: 0;
	border: none;
	font: 0/0 a;
	text-shadow: none;
	width: 114px;
	height: 66px;
	background: url("../images/logoK@2x.png") no-repeat center;
	background-size: 61px 14px;
}

/* header social */
header .header-social {
	font-size: 20px;
	font-weight: normal;
	line-height: 66px;
	margin-top: 0;
	margin-left: 30px;
	padding-left: 36px;
	border-left: 1px solid rgba(150, 150, 150, 0.2);
	float: left;
	position: relative;
	top: -1px;
	color: aqua
}

header .header-social li {
	display: inline-block;
	margin-right: 15px;
}

header .header-social li a {
	color: #FFFF6F;
}

header .header-social li a:hover {
	color: #fdc501;
}

/* media queries:  
/* header/header components */
@media only screen and (max-width:880px) {
	header .header-social {
		display: none;
	}

}

@media only screen and (max-width:768px) {
	header {
		background: black;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}

	header .row {
		width: 100%;
	}

	header .logo {
		margin-left: -30px;
	}

}

/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap,
#nav-wrap ul,
#nav-wrap li,
#nav-wrap a {
	margin: 0;
	padding: 0;
}

/* nav-wrap */
#nav-wrap {
	font: 13px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	float: left;  
}

/* hide toggle button */
#nav-wrap > a {
	display: none;
}

ul#nav {
	min-height: 66px;
	display: inline-block;
	width: auto;  

	/* left align the menu */
	text-align: left;
}

ul#nav li {
	position: relative;
	list-style: none;
	display: inline-block;
	height: 66px;    
}

/* Links */
ul#nav li a {

	/* 14px padding top + 14px padding bottom + 38px line-height = 66px */
	display: block;
	padding: 14px 12px;
	line-height: 38px;
	text-decoration: none;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	-moz-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

ul#nav li a:hover {
	color: #FFFFFF;
}

ul#nav li a:active {
	background-color: transparent !important;
}

ul#nav li.current a {
	color: #FFFFFF;
}

ul#nav li.current a:after {
	position: absolute;
	left: 50%;
	bottom: 10px;
	width: 40px;
	height: 2px;
	margin-left: -23px;
	background-color: white;
	content: '\0020';
	display: block;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* mobile navigation 
--------------------------------------------------------------------- */
@media only screen and (max-width:768px) {
	#nav-wrap {
		z-index: 700;
		display: block;
		width: 100%;
		float: none;
		position: absolute;
		top: 0;
		right: 0;
	}

	/* mobile-btn and toggle-btn */
	#nav-wrap > a {
		border: none;
		color: #FFFFFF;
		height: 40px;
		min-width: 40px;
		font-size: 12px;
		text-align: left;
		float: right;
		display: block;
		padding: 0;
		position: relative;
		top: 13px;
		right: 20px;
	}
	
	#nav-wrap > a:hover .menu-icon {
		background: #FFFFFF;
	}

	#nav-wrap .menu-icon {
		display: inline-block;
		width: 24px;
		height: 3px;
		margin-top: -3px;
		position: absolute;
		right: 8px;
		top: 50%;
		bottom: auto;
		left: auto;
		background: #fdc501;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
	}

	#nav-wrap .menu-icon:before,
	#nav-wrap .menu-icon:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background-color: inherit;
		left: 0;
	}

	#nav-wrap .menu-icon:before {
		bottom: 8px;
	}

	#nav-wrap .menu-icon:after {
		top: 8px;
	}

	/* dropdown nav */
	#nav-wrap ul#nav {
		background: #1c212a;
		padding: 54px 45px 60px 45px;
		margin: 0;
		height: auto;
		display: none;
		clear: both;
		width: 100%;
		float: none;
		position: absolute;
		top: 66px;
		right: 0;
	}

	#nav-wrap ul#nav > li {
		display: block;
		float: none;
		height: auto;
		text-align: left;
		border-bottom: 1px dotted rgba(200, 200, 200, 0.1);
		padding: 6px 0;
	}

	#nav-wrap ul#nav > li:first-child {
		border-top: 1px dotted rgba(200, 200, 200, 0.1);
	}

	#nav-wrap ul#nav li a {
		display: block;
		width: auto;
		padding: 0;
		color: #cacbcb;
		padding: 12px 0;
		line-height: 16px;
		border: none;
	}

	#nav-wrap ul#nav li a:hover {
		color: #FFFFFF;
	}

	#nav-wrap ul#nav li.current > a {
		background: none;
		color: #fdc501;
	}

	#nav-wrap ul#nav li.current > a:after {
		display: none;
	}

	#nav-wrap a.mobile-btn {
		display: none;
	}

	.js #nav-wrap a#toggle-btn {
		display: block;
	}

	/* if js is disabled */
	.no-js #nav-wrap:not(:target) > a:first-of-type,
	.no-js #nav-wrap:target > a:last-of-type {
		display: block;
	}

	.no-js #nav-wrap:target ul#nav {
		display: block;
	}

}

/* make sure the menu is visible on larger screens
--------------------------------------------------------------------- */
@media only screen and (min-width:769px) {
	#nav-wrap ul#nav {
		display: block !important;
	}

}


/* 
/* 07. =hero section
/* =================================================================== */

#hero {
	background: #0F1215 url(../images/aerial-view-uc-san-diego-to-west-2.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	min-height: 630px;
	width: 100%;
	text-align: center;
	padding-left: 300px;
	position: relative;
	border-bottom: 1px solid #15191d;
}

.hero-content {
	position: relative;
	padding-top: 66px;
	padding-bottom: 102px;
}

/* hero slider */
#hero-slider {
	margin: 120px 0 54px;
}

#hero-slider .slides .flex-caption {
	margin: 0 35% 0 30px;
}

#hero-slider .slides .flex-caption h1 {
	font: 49px/1.3 "raleway-bold", sans-serif;
	letter-spacing: -1px;
	padding-bottom: 24px;
	color: white;
	text-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
	position: relative;    

	/* for css animations */
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}


#hero-slider .slides .flex-caption h3 {
	font: 18px/1.9 "merriweather-light", sans-serif;
	color: rgba(255, 255, 255, 0.7);
	text-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
	width: 85%;
	margin-top: 24px;    

	/* for css animations */
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}

#hero-slider .slides .flex-caption h1 span,
#hero-slider .slides .flex-caption h1 a {
	display: inline-block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* for oldIE - IE9 */
.oldie #hero-slider .slides .flex-caption h1 {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

.oldie #hero-slider .slides .flex-caption h3 {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

/* media queries:  
/* #hero / .hero-contert / #hero-slider */

@media only screen and (max-width:1200px) {
	#hero-slider .slides .flex-caption h1 {
		font: 44px/1.3 "raleway-bold", sans-serif;
	}

}

@media only screen and (max-width:1024px) {
	.hero-content {
		padding-bottom: 90px;
	}

	#hero-slider {
		text-align: center;
		margin: 102px 0 36px;
	}

	#hero-slider .slides .flex-caption {
		margin: 0 auto;
		max-width: 550px;
		width: 90%;
	}

	#hero-slider .slides .flex-caption h1 {
		font: 43px/1.3 "raleway-bold", sans-serif;
	}

	#hero-slider .slides .flex-caption h1::after {
		margin-left: -50px;
		left: 50%;
	}

	#hero-slider .slides .flex-caption h3 {
		font: 16px/1.9 "merriweather-light", sans-serif;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

}

@media only screen and (max-width:768px) {
	#hero {
		min-height: auto;
	}

	.hero-content {
		padding-bottom: 72px;
	}

	#hero-slider {
		margin: 84px 0 36px;
	}

	#hero-slider .slides .flex-caption {
		margin: 0 40px 0;
		width: auto;
	}

	#hero-slider .slides .flex-caption h1 {
		font: 41px/1.3 "raleway-bold", sans-serif;
	}

	#hero-slider .slides .flex-caption h3 {
		font: 16px/1.9 "merriweather-light", sans-serif;
		width: 85%;
	}

}

@media only screen and (max-width:600px) {
	.hero-content {
		padding-bottom: 72px;
	}

	#hero-slider {
		margin: 84px 0 36px;
	}

	#hero-slider .slides .flex-caption {
		margin: 0 35px 0;
		width: auto;
	}

	#hero-slider .slides .flex-caption h1 {
		font: 39px/1.3 "raleway-bold", sans-serif;
	}

	#hero-slider .slides .flex-caption h3 {
		font: 15px/1.9 "merriweather-light", sans-serif;
		width: 90%;
	}

}

@media only screen and (max-width:480px) {
	.hero-content {
		padding-bottom: 72px;
	}

	#hero-slider {
		margin: 78px 0 36px;
	}

	#hero-slider .slides .flex-caption {
		margin: 0 20px 0;
		width: auto;
	}

	#hero-slider .slides .flex-caption h1 {
		font: 36px/1.3 "raleway-bold", sans-serif;
	}

	#hero-slider .slides .flex-caption h3 {
		width: auto;
	}

}

@media only screen and (max-width:400px) {
	.hero-content {
		padding-bottom: 54px;
	}

	#hero-slider {
		margin: 72px 0 24px;
	}

	#hero-slider .slides .flex-caption {
		margin: 0;
	}

	#hero-slider .slides .flex-caption h1 {
		font: 30px/1.3 "raleway-bold", sans-serif;
	}

}

/* control nav */
#hero .flex-control-nav {
	width: 100%;
	text-align: left;
	display: block;
	position: relative;
	bottom: 0;
	left: 30px;
	z-index: 500;
}

#hero .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}

#hero .flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 50%;
	background: #FFFFFF;
}

#hero .flex-control-paging li a:hover {
	background: #c8c8c8;
}

#hero .flex-control-paging li a.flex-active {
	background: #fdc501;
	cursor: default;
}

/* media queries - .flex-control-nav */
@media only screen and (max-width:1024px) {
	#hero .flex-control-nav {
		text-align: center;
		left: 0;
	}

}

/* more link */
#hero #more {
	position: absolute;
	left: 50%;
	bottom: -27px;
	margin-left: 250px;
}

#hero #more a {
	font: 12px/54px "raleway-heavy", sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	display: block;
	height: 54px;
	width: 200px;
	border-radius: 3px;
	background: #e64e04;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	color: #FFFFFF;
	-moz-transition: all 0.4s ease-on-out;
	-o-transition: all 0.4s ease-on-out;
	-webkit-transition: all 0.4s ease-on-out;
	-ms-transition: all 0.4s ease-on-out;
	transition: all 0.4s ease-on-out;
}

#hero #more a:hover {
	background: #fdc501;
	color: #000000;
}

#hero #more a i {
	margin-left: 6px;
	position: relative;
	right: -5px;
}

/* media queries - #more */
@media only screen and (max-width:1024px) {
	#hero #more {
		margin-left: -100px;
	}

}


/** 
/* 08. =portfolio styles
/* =================================================================== */

#portfolio {
	background: #FFFFFF;
	padding-top: 25px;
	border-bottom: 1px solid #15191d;  
}

#portfolio .row.items {
	max-width: 1366px;
	margin-top: 24px;
}

/* media queries - portfolio */

@media only screen and (max-width:1366px) {
	#portfolio .row.items {
		width: 100%;
		padding: 0;
	}

	#portfolio .row.items .columns {
		padding: 0;
	}

}

/* portfolio content */
#portfolio-wrapper {
	margin-top: 36px;
}

#portfolio-wrapper:before,
#portfolio-wrapper:after {
	content: "";
	display: table;
}

#portfolio-wrapper:after {
	clear: both;
}

#portfolio-wrapper .bgrid {
	padding: 0;
}

.folio-item .item-wrap {
	background: #111417;
	overflow: hidden;
	position: relative;
}

.folio-item .item-wrap a {
	display: block;
	cursor: pointer;
	position: relative;
}

/* overlay */
.folio-item .item-wrap .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.85);
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.folio-item .item-wrap .link-icon {
	display: block;
	height: 30px;
	width: 30px;
	margin-left: -15px;
	margin-top: -15px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: #FFFFFF;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
}

.folio-item .item-wrap img {
	vertical-align: bottom;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 20%;
	left: -100px;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.folio-item .portfolio-item-meta h5 {
	font: 14px/21px "raleway-bold", sans-serif;
	letter-spacing: 2px;
	color: white;
	margin: 0;
}

.folio-item .portfolio-item-meta p {
	font: 14px/18px "raleway-semibold", sans-serif;
	color: #8A8A8A;
	margin: 0;
}

/* on hover */
.folio-item:hover .overlay,
.folio-item:hover .link-icon,
.folio-item:hover .portfolio-item-meta {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

.folio-item:hover .portfolio-item-meta {
	left: 0;
}

.folio-item:hover .item-wrap img {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

/* media queries - .portfolio-item-meta */

@media only screen and (max-width:500px) {
	.folio-item .portfolio-item-meta {
		top: 16%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 13px/21px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 13px/18px "raleway-semibold", sans-serif;
	}

}

@media only screen and (max-width:400px) {
	.folio-item .portfolio-item-meta {
		top: 12%;
	}

	.folio-item .portfolio-item-meta h5 {
		font: 11px/18px "raleway-bold", sans-serif;
		letter-spacing: 1px;
	}

	.folio-item .portfolio-item-meta p {
		font: 11px/16px "raleway-semibold", sans-serif;
	}

}

/* Popup Modal 
/* ------------------------------------------------------------------ */
.popup-modal {
	max-width: 550px;
	background: #FFFFFF;
	position: relative;
	margin: 0 auto;  	
}

.popup-modal .media {
	position: relative;
}

.popup-modal img {
	vertical-align: bottom;
}

/* description */
.popup-modal .description-box {
	padding: 6px 36px 30px;
}

.popup-modal .description-box h4 {
	font: 15px/24px "raleway-heavy", sans-serif;
	color: #000000;
}

.popup-modal .description-box p {
	font: 14px/24px "merriweather-regular", serif;
	color: #A1A1A1;
	margin-bottom: 12px;
}

/* categories */
.popup-modal .categories {
	font: 11px/18px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	text-align: left;
	color: rgba(0, 0, 0, 0.5);
}

/* link box */
.popup-modal .link-box {
	width: 100%;
	overflow: hidden;
	background: #000000;
}

.popup-modal .link-box a {
	font: 12px/60px "raleway-heavy", sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
	display: block;
	text-align: center;
	float: left;
	width: 50%;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.popup-modal .link-box a:first-child {
	border-right: 1px solid rgba(200, 200, 200, 0.1);
}

.popup-modal .link-box a:hover {
	background: #fdc501;
	color: #000000;
	border: none;
}

/* media queries - popup-modal */

@media only screen and (max-width:600px) {
	.popup-modal {
		width: auto;
		margin: 0 20px;
	}

}

/* transition effect for modal popup
/* ------------------------------------------------------------------ */

/* overlay at start */
.mfp-fade.mfp-bg {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
	filter: alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	opacity: 0.8;
	zoom: 1;
}

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* content animate in */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

/* 
/* 09. =services
/* =================================================================== */

#services {
	background: black;
	padding-top: 25px;
	padding-bottom: 90px;
	border-bottom: 1px solid #15191d;
}

#newsection
{
	background: black;
	padding-top: 25px;
	padding-bottom: 10px;
}

.service-list {
	margin: 18px -2px 0;
}

.service-list .bgrid {
	padding: 0 22px 6px;
}

.service-list .bgrid {
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 5px;
}

.service-list .bgrid:hover {
	background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:600px) {
	.service-list .bgrid:hover {
		background: inherit;
	}

}

#services .service-list h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #fdc501;
	padding: 0;
	text-transform: none;
	text-align: left;
	margin-bottom: 6px;
}

/* media queries:  
/* #services / .service-list */

@media only screen and (max-width:1024px) {
	.service-list {
		margin: 18px 0 0;
	}

	.service-list .bgrid {
		padding: 0 18px 6px;
	}

}

@media only screen and (max-width:768px) {
	.service-list .bgrid {
		padding: 0 15px 6px;
	}

}

@media only screen and (max-width:600px) {
	.service-list .bgrid {
		padding: 0 10px 6px;
	}

}

@media only screen and (max-width:400px) {
	.service-list .bgrid {
		padding: 0 0 6px;
	}

}


/* 
/* 10. =about
/* =================================================================== */

#about {
	background: #FFFFFF;
	padding-top: 25px;
	padding-bottom: 90px;
	border-bottom: 1px solid #15191d;
}

#about h3 {
	font: 18px/36px "raleway-heavy", sans-serif;
	color: #fdc501;
	text-transform: none;
	letter-spacing: 0;
	padding: 0;
	margin-bottom: 6px;
}

/* process
-------------------------------------------------------------- */
.process {
	margin-top: 12px;
}

.process .bgrid {
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 5px;
}

.process .bgrid:hover {
	background: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width:600px) {
	.process .bgrid:hover {
		background: inherit;
	}

}

/* team members
-------------------------------------------------------------- */
#about .team {
	margin-top: 30px;
}

#team-wrapper {
	margin: 0 auto;
}

#team-wrapper .member {
	margin-bottom: 24px;
	margin-top: 12px;
}

#team-wrapper .member h3 {
	line-height: 24px;
	margin-bottom: 0;
}

#team-wrapper .member span {
	position: relative;
	font-size: 13px;
	line-height: 15px;
	color: #FFFFFF;
}

#team-wrapper .member-pic {
	position: relative;
	line-height: 1;
	overflow: hidden;
	background: #FFFFFF;
}

#team-wrapper .member-pic img {
	vertical-align: bottom;
}

#team-wrapper .mask {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	opacity: 0;
	zoom: 1;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

#team-wrapper .member:hover .mask {
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	zoom: 1;
}

#team-wrapper .member-social {
	font-size: 16px;
	font-weight: normal;
	line-height: 18px;
	color: #969696;
	margin: 0;
	padding: 0;
}

#team-wrapper .member-social li {
	display: inline-block;
	margin-right: 15px;
}

#team-wrapper .member-social li a {
	color: #FFFFFF;
}

/* media queries:  
/* .team / #team-wrapper */

@media only screen and (max-width:1024px) {
	#team-wrapper .member-social li {
		margin-right: 10px;
	}

}

@media only screen and (max-width:768px) {
	#team-wrapper .member p {
		font-size: 14px;
		line-height: 27px;
	}

}

@media only screen and (max-width:600px) {
	#team-wrapper .member-pic {
		width: 80px;
		height: 80px;
		float: left;
		margin-right: 30px;
		position: relative;
		top: 6px;
	}

	#team-wrapper .member-pic .mask {
		display: none;
	}

	#team-wrapper .member-name + p {
		clear: both;
		margin-top: 30px;
	}

	#team-wrapper .member p {
		font-size: 16px;
		line-height: 30px;
	}

}

/* Call To Action 
------------------------------------------------------------------ */
#call-to-action {
	margin-top: 30px;
	padding-top: 36px;
	text-align: center;
}

#call-to-action h2,
#call-to-action p {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#call-to-action p {
	font: 20px/36px "merriweather-light", serif;
	color: #707273;
	width: 75%;
}

#call-to-action .section-ads {
	padding-top: 36px;
	border-top: 1px dotted rgba(150, 150, 150, 0.1);
}

#call-to-action h2 {
	font: 30px/36px "raleway-bold", sans-serif;
	color: #FFFFFF;
	letter-spacing: -0.5px;
	margin-bottom: 24px;
}


#call-to-action h2 a,
#call-to-action span {
	color: #FFFFFF;
}


#call-to-action .action a {
	font: 15px/60px "raleway-heavy", sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 60px;
	display: block;
	padding: 0 30px;
	max-width: 400px;
	width: 100%;
	background: #e64e04;
	border-radius: 3px;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	margin: 24px auto 0;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}



/* media queries - #call-to-action */
@media only screen and (max-width:600px) {
	#call-to-action h2,
	#call-to-action p {
		width: 85%;
	}

	#call-to-action h2 {
		font: 28px/36px "raleway-bold", sans-serif;
	}

	#call-to-action p {
		font: 18px/33px "merriweather-light", serif;
		width: 80%;
	}

}

@media only screen and (max-width:400px) {
	#call-to-action h2,
	#call-to-action p {
		width: auto;
	}

	#call-to-action h2 {
		font: 26px/36px "raleway-bold", sans-serif;
	}

	#call-to-action p {
		font: 16px/30px "merriweather-light", serif;
	}

}


/** 
/* 11. =testimonials
/* =================================================================== */

#testimonials {
	background: #e4b101;
	padding-top: 90px;
	padding-bottom: 112px;
	position: relative;
	min-height: 198px;
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#testimonials .flex-container {
	width: 80%;
	max-width: 850px;
	margin: 0 auto;
}

#testimonial-slider {
	margin: 0 0 30px 0px;
	padding-left: 0;
	position: relative;
}

#testimonial-slider p {
	font: 27px/1.9 "merriweather-regular", sans-serif;
	color: #FFFFFF;
	padding: 0;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#testimonial-slider .testimonial-author {
	display: block;
	font: 16px/24px "raleway-heavy", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 24px;
	color: #FFFFFF;
}

#testimonial-slider .testimonial-author img {
	width: 72px;
	height: 72px;
	margin-right: 10px;
	display: inline-block;
	border-radius: 50%;
	border: 6px solid white;
	vertical-align: middle;
}

#testimonial-slider .testimonial-author .author-info {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

#testimonial-slider .testimonial-author .author-info span {
	display: block;
	font: 14px/18px "raleway-bold", sans-serif;
	letter-spacing: 0;
	text-transform: none;
	color: rgba(0, 0, 0, 0.6);
}

/* control nav */
#testimonials .flex-control-nav {
	width: 100%;
	text-align: center;
	display: block;
	position: absolute;
	bottom: -72px;
}

#testimonials .flex-control-nav li {
	margin: 0 6px;
	display: inline-block;
	zoom: 1;
}

#testimonials .flex-control-paging li a {
	width: 12px;
	height: 12px;
	display: block;
	background: white;
	cursor: pointer;
	text-indent: -9999px;
	border-radius: 20px;
}

#testimonials .flex-control-paging li a:hover {
	background: #CCC;
	background: rgba(0, 0, 0, 0.5);
}

#testimonials .flex-control-paging li a.flex-active {
	background: #fff;
	background: black;
	cursor: default;
}

/* media queries:
/* #testimonials / #testimonial-slider */

@media only screen and (max-width:1024px) {
	#testimonials .flex-container {
		max-width: 700px;
	}

	#testimonial-slider p {
		font: 25px/1.9 "merriweather-regular", sans-serif;
	}

}

@media only screen and (max-width:768px) {
	#testimonials .flex-container {
		width: 90%;
	}

	#testimonial-slider p {
		font: 22px/1.9 "merriweather-regular", sans-serif;
	}

}

@media only screen and (max-width:600px) {
	#testimonials .flex-container {
		width: 95%;
	}

	#testimonial-slider p {
		font: 20px/1.9 "merriweather-regular", sans-serif;
	}

	#testimonial-slider .testimonial-author {
		font: 14px/24px "raleway-heavy" sans-serif;
	}

	#testimonial-slider .testimonial-author img {
		width: 60px;
		height: 60px;
		border: 6px solid white;
	}

	#testimonial-slider .testimonial-author .author-info span {
		font: 12px/18px "raleway-bold", sans-serif;
	}

}

@media only screen and (max-width:400px) {
	#testimonials .flex-container {
		width: auto;
	}

	#testimonial-slider p {
		font: 18px/1.9 "merriweather-regular", sans-serif;
	}

}

/** 
/* 12. =contact
/* =================================================================== */

#contact {
	background: black;
	padding-bottom: 
}

/* media queries:  
/* #contact / .left .right */

@media only screen and (max-width:1366px) {
	

/* contact form */
#contact form {
	margin-top: 12px;
	
}

#contact form div {
	position: relative;
}

#contact form div:before,
#contact form div:after {
	content: "";
	display: table;
}

#contact form div:after {
	clear: both;
}

#contact form div label {
	font: 11px/24px "raleway-bold", sans-serif;
	position: absolute;
	right: 6px;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 20px;
	color: #e64e04;
}

input[type="text"],
input[type="password"],
input[type="email"],
#contact textarea,
#contact select {
	margin-bottom: 45px;
	width: 100%;
}

#contact button.submitform {
	font: 15px/30px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	height: 60px;
	display: inline-block;
	padding: 15px 30px;
	width: 100%;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

#message-warning,
#message-success {
	display: none;
	background: #0F1215;
	border-radius: 3px;
	padding: 24px;
	margin-bottom: 36px;
	width: 100%;
}

#message-warning {
	color: #e64e04;
}

#message-success {
	color: #fdc501;
}

#message-warning i,
#message-success i {
	margin-right: 10px;
}

/* form loader */
#submit-loader {
	display: none;
	position: relative;
	left: 0;
	top: 18px;
	width: 100%;
	text-align: center;
}

#submit-loader .text-loader {
	display: none;
	font: 14px/30px "raleway-heavy", sans-serif;
	color: #FFFFFF;
	letter-spacing: 3px;
	text-transform: uppercase;
}

.oldie #submit-loader .s-loader {
	display: none;
}

.oldie #submit-loader .text-loader {
	display: block;
}





/* loader animation 
------------------------------------------- */
.s-loader {
	margin: 12px auto 30px;
	width: 70px;
	text-align: center;
	-moz-transform: translateX(2.5px);
	-o-transform: translateX(2.5px);
	-webkit-transform: translateX(2.5px);
	-ms-transform: translateX(2.5px);
	transform: translateX(2.5px);
}

.s-loader > div {
	width: 12px;
	height: 12px;
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	margin-right: 5px;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.s-loader .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.s-loader .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-moz-transform: scale(0);
		-o-transform: scale(0);
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	}

	40% {
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

}



/* go to top button 
------------------------------------------------------------------ */
#go-top {
	position: absolute;
	top: -21px;
	left: 50%;
	z-index: 600;
}

#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	height: 54px;
	width: 200px;
	margin-left: -100px;
	background: #e64e04;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
	color: #FFFFFF;
	text-align: center;
	border-radius: 3px;
	font: 12px/54px "raleway-heavy", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#go-top a:hover {
	background: #fdc501;
	color: #000000;
}

#go-top a i {
	margin-left: 6px;
	position: relative;
	right: -5px;
}
